@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 330px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;

}
header{
    background-color: #333333;
    border-top: 0px;
    width: 97%;
    height: 130px;
    margin-left: 20px;
    border-radius: 12px;
    border: 2px;
    border-style: groove;
}
header h1{
    text-align: center;
    padding-top: 10px;
    color: #999999;
    font-size: 21px;
}
.imglogo{
    float:left;
    margin-top: 10px;
    margin-left: 150px;


    border-radius: 12px;
    border: 2px;
    border-style: groove;

}
nav{
    float: right;
}
.username{
    font-size: 14px;
    color: blue;
    border-radius: 12px;
    border: 2px;
    border-style: groove;
    margin: 10px;
    float: right;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;

}
nav ul li a{
    margin: 8px;
    font-size: 1.2em;
}
.btn {
    border-radius: 8px;
    border: 2px;
    border-style: solid;

}
.btnsesion {
    background-color: green;
    text-align: left;
    width: 138px;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 17px;
    padding: 4px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 29px #2f6627;
}
.btncancelar{
    background-color: red;
    text-align: left;
    width: 60px;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 17px;
    padding: 4px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 29px #2f6627;
}
.btnregistrar {
    background-color: blue;
    text-align: left;
    width: 100px;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 17px;
    padding: 4px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 29px #2f6627;
}
.btnregistrar:hover {
    background-color: #247ba0;
    color: #000000;
}
.registrousers{
    margin-left: 20%;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 60%;
}


.form-group {
    margin-bottom: 15px;
}


.errorMsg{
    background: darksalmon;
    border: red solid 1px;
    color: red;
    margin: 10px;
}

.successMsg{
    background: greenyellow;
    border: green solid 1px;
    color: green;
    margin: 10px;
}




table{
    text-align: center;
    border-collapse: collapse;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

th{
    border-left:solid 1px black;
    border-right:solid 1px black;
    background: darkgray;
}
td{
    border-left:solid 1px black;
    border-right:solid 1px black;

}
tr:nth-child(even) {
    background: lightskyblue;
}
tr:nth-child(odd) {
    background: #FFF
}
#last_row{
    margin: 8px;
    border-radius: 12px;
    border: 4px;
    border-style: groove;
}
footer{
    margin-top: 10em;
    background-color: #333333;
    border-top: 0px;
    width: 97%;
    height: 60px;
    margin-left: 20px;
    border-radius: 12px;
    border: 2px;
    border-style: groove;
}
footer .pleft{
    margin-left: 5em;
    float:left;
}
footer .pright{
    margin-right: 5em;
    float:right;
}
footer .pcenter{

    margin-left: 30em;
    float:left;
}
