@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}

* {
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.42857;
    height: 330px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;

}

header{
    background-color: #333333;
    border-top: 0px;
    width: 97%;
    height: 130px;
    margin-left: 20px;
    border-radius: 12px;
    border: 2px;
    border-style: groove;
}

header h1{
    text-align: center;
    padding-top: 10px;
    color: #999999;
}

.imglogo{
    float:left;
    margin-top: 10px;
    margin-left: 150px;
    
    border-radius: 12px;
    border: 2px;
    border-style: groove;

}

nav{
    float: right;
}

.username{
    color: blue;
    border-radius: 12px;
    border: 2px;
    border-style: groove;
    margin: 10px;
    float: right;
}

nav ul li{
    display: inline-block;
    margin-right: 40px;

}

nav ul li a{
    margin: 8px;
}


.btnsesion, .btnregistrar{
    background-color: green;
    text-align: left;
    width: 138px;
    border-radius: 6px;
    border: 1px solid green;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 4px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 29px #2f6627;
}

.btncancelar{
    background-color: red;
    text-align: left;
    width: 60px;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 4px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 29px #2f6627;
}

.centrar_main,aside{
    display: flex;
    justify-content: center;
}

.centrar_main_login{
    margin-top: 5%;
}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-group {
    margin-bottom: 15px;
}

.errorMsg{
    background: darksalmon;
    border: red solid 1px;
    color: red;
    margin: 10px;
}

.successMsg{
    background: greenyellow;
    border: green solid 1px;
    color: green;
    margin: 10px;
}

table{
    text-align: center;
    border-collapse: collapse;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.tabladetalles{
    margin-top: 10px;
}

th{
    border-left:solid 1px black;
    border-right:solid 1px black;
    background: darkgray;
}

td{
    border-left:solid 1px black;
    border-right:solid 1px black;

}

tr:nth-child(even) {
   background: #FFF;
}

tr:nth-child(odd) {
     background: lightskyblue;
    
}

#last_row{
    margin: 8px;
    border-radius: 12px;
    border: 4px;
    border-style: groove;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: chocolate;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer .pcenter a{
    text-decoration: none;
    color: white;
}

.login-logo{
    text-align: center;
}

.login-form input{
    width: 100%;
}

.row-agregar input{
    width: 100%;
}